<h2 class="text-center">Department List</h2>
			<table class="table table-striped table-bordered">
				<thead class="table-dark">
   					<tr>
     			 		<th scope="col">Department Id</th>
     			 		<th scope="col">Department Name</th>
              <th scope="col">Department Location</th>
              <th scope="col">Update/Delete</th>
   				 	</tr>
  				</thead>
  				<tbody>
                    <tr *ngFor = "let department of departments">
                        <td>{{department.id}}</td>
                        <td>{{department.departmentName}}  </td>
                        <td>{{department.departmentLocation}}</td>
                        <td> <button (click)="updateDepartment(department.id)" class="btn btn-info" style="margin-right: 10px;">Update</button>
                             <button (click)="deleteDepartment(department.id)" class="btn btn-danger">Delete</button></td>
                    </tr>
  				</tbody>
	    </table>