<div class="col-md-8 offset-md-3">
    <h2>Update Department</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Department Id</label>
            <input type="text" class="form-control" id="id"
                [(ngModel)]="department.id" name="id">
            <label>Department Name</label>
            <input type="text" class="form-control" id="departmentName"
                [(ngModel)]="department.departmentName" name="departmentName">
                <label>Department Location</label>
            <input type="text" class="form-control" id="departmentLocation"
                [(ngModel)]="department.departmentLocation" name="departmentLocation">
        </div>
        <button class="btn btn-success" type="submit">Update</button>
    </form>
    </div>
    
